*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.fa-bars, #btnBar, .redes-sociais, .fa-times{
    display: none;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 125px;
    align-items: center;
    border-bottom: 1px solid;
    background-color: #131313;
    color: bisque;
}

li a:hover{
    color: bisque;
    transition: all .2s;
}

ul{
    display: flex;
}

ul a{
    margin: 6px;
    padding: 4px;
    color:blanchedalmond;
    border-radius: 5px;
    transition: all .3s;
}

.container ul li a:hover{
    box-shadow:0px 0px 10px bisque inset,
                0px 0px 10px bisque;
    font-size: 23px;
                
}

/*Rodape da pagina*/
footer{
    width: 100%;
    height: 90px;
    background-color: #2b2a2a;
    position: fixed;
    bottom:0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: bisque;
}

/*Rodape tamanho normal*/
.redes-sociais-rodape{
    display: block;
}

.fa-instagram{color:#517fa4;}

.fa-pinterest{color:#cb2027;}

.fa-youtube{color:red;}

.fa-twitter{color:#00aced;}

footer p{
    font-size: 14px;
}

.redes-sociais-rodape{
    margin-top: 10px;
}

.redes-sociais-rodape a{
    margin: 5px;
}

.redes-sociais-rodape a i:hover{
    font-size: 23px;
}


/*CATEGORIAS DO SITE */
.categorias{
    width: 100%;
    height: 120px;
    background-color: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;
}

.categorias ul li a:hover{
    border-bottom:1px solid bisque;
    border-radius: 1%;
    color: blanchedalmond;
}

 /*AREA PARCERIA*/
 .parceria{
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 90px;
    position: fixed;
}

.parceria a i{
    color:#131313;
    margin: 8px;
    padding: 3px;
    transition: all .5s;
}

.parceria a i:hover{
    color: rgb(255, 217, 0);
}

.referencia{
    margin-top: 15px;
    display: flex;

}

/*BARRA DE PESQUISAR*/
.pesquisar{
    border: none;
    margin: 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 15px;
}

.pesquisar input{
    outline: 0;
    padding: 1px;
}

.pesquisar button{
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    outline: 0;
    border: none;
    padding: 2px 7px;
    transition: all .3s;
}

.pesquisar button:hover{
    background-color: #131313;
    color: #fff;
}

/*conteudo*/
.ofertas{
    height: 100vh;
    margin-top:15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div .caixa{
    width: 260px;
    height: 280px;
    border: 1px solid;
}

.item{
    margin: 10px;
}

/*---------Se for mobile --------*/
@media(max-width:920px){
    .fa-bars, .redes-sociais{
        display: block;
    }

    .itens{
        display: none;
    }

    .container{
        border: none;
    }

    .container ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2b2a2a;
        top: 125px;
        left: -100%;
        text-align: center;
        transition: all .6s;
        border-top: 1px solid;

        display: flex;        
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    ul li{
        margin: 8px;
    }

    .container ul li a:hover{
        box-shadow:0px 0px 5px bisque,
                    0px 0px 15px bisque inset;
        font-size: 22px;
    }

    #btnBar:checked ~ ul{
        left: 0;
    }

    #btnBar:checked ~ label .fa-bars{
        display: none;
    }

    #btnBar:checked ~ label .fa-times{
        display: block;
    }


    /*Redes sociais*/
    .redes-sociais{
        display: flex;
        margin: 8px;
    }

    .fa-instagram{color:#517fa4;}

    .fa-pinterest{color:#cb2027;}

    .fa-youtube{color:red;}

    .fa-twitter{color:#00aced;}

    .redes-sociais a i:hover{
        font-size: 23px;
    }

    /*Rodape tamnho smart device*/
    footer{
        width: 100%;
        height: 90px;
        background-color: #2b2a2a;
        position: fixed;
        bottom:0;
    }

    .redes-sociais-rodape{
        display: none;
    }

    /*CATEGORIAS DO SITE */
    .categorias{
        border-top: 1px solid bisque;
      
    }

    .categorias ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categorias ul li a{
        transition: all .3s;
    }

    .categorias ul li a:hover{
        border-bottom:1px solid bisque;
        border-radius: 0;
    }


    /*AREA DE PESQUISA*/
    .pesquisar{
        margin-top: 15px;
    }

    .pesquisar button:hover{
        background-color: #2b2a2a;
        color: #fff;
    }
   
}
